@page "/army"

@inject IUnitService UnitService

@attribute [Authorize]

<h3>Army</h3>

@if (UnitService.Units.Count > 0)
{
    <table class="table">
        @foreach (var userUnit in UnitService.MyUnits)
        {
            <div class="army-list">
                <div>
                    @switch (userUnit.UnitId)
                    {
                        case (int) UnitTypeEnum.Knight:
                            <img src="icons/W_Sword006.png" />
                            break;
                        case (int) UnitTypeEnum.Archer:
                            <img src="icons/S_Bow08.png" />
                            break;
                        case (int) UnitTypeEnum.Mage:
                            <img src="icons/C_Hat01.png" />
                            break;
                    }
                </div>
                <div>
                    @UnitService.Units.Single(unit => unit.Id == userUnit.UnitId).Title
                </div>
                <div>
                    @userUnit.HitPoints HP
                </div>
                <div>
                    <button class="btn btn-danger" />
                </div>
            </div>
        }
    </table>
    <center>
        <button class="btn btn-warning" @onclick="ReviveArmy">Revive your army for 1000 bananas</button>
    </center>
}
else
{
    <span>Loading Units...</span>
}
@code {
    protected override async Task OnInitializedAsync()
    {
        await UnitService.LoadUnitsAsync();
        await UnitService.LoadUserUnitsAsync();
    }

    private async Task ReviveArmy()
    {
        await UnitService.ReviveArmy();
    }
}
