@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Hi, @context.User.Identity.Name. Welcome back!</h1>
        Let's admire <a href="army">your beloved army</a>
        <br />
        Get familiar with the rules on the <a href="info">info page</a>
    </Authorized>
    <NotAuthorized>
        <h1>Welcome to Gergo's demo application!</h1>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>